.access {
    margin-bottom: 100px;
    padding: 0 15px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text {
    line-height: 1.5rem;
}

.map {
    width: 100%;
    height: 345px;
    object-fit: contain;
    border-radius: 10px;
}