.article {
    padding: 50px 30px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.date_category {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: var(--vollkorn);
    letter-spacing: -0.02rem;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.02rem;
}

.detail_img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text {
    line-height: 1.5rem;
    letter-spacing: -0.02rem;
}