.contact {
    padding: 50px 30px;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.form_group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.item {
    font-weight: 600;
    line-height: 1.5rem;
}

.answer {
    width: 100%;
    max-width: 315px;
    height: 40px;
    border: none;
    padding: 0 8px;
}

.textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 140px;
    padding-top: 8px;
    padding-left: 8px;
}

.form_checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    width: 24px;
    height: 24px;
}

.privacy_policy {
    font-size: 12px;
}

.policy {
    color: var(--red);
    border-bottom: 1px solid var(--red);
    font-weight: 600;
}

.form_send {
    display: inline-block;
    width: 100%;
    height: 56px;
}

.btn {
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: var(--mainColor);
    border: none;
    transition: all .2s ease-in-out;

    &:hover {
        color: var(--mainColor);
        background-color: var(--white);
        border: 1px solid var(--mainColor);
    }
}