.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
    padding: 0 15px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature_ttl {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

/* .gallery {
    position: relative;
} */

.gallery_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.gallery_group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item {
    border-radius: 10px;
    object-fit: cover;
}

/* スライドアニメーション */
.gallery_slide {
    width: 366px;
    overflow: hidden;
    position: relative;
    left: -15px;
}

.gallery_slide_wrapper {
    display: flex;
    gap: 10px;
    animation: slide 30s linear infinite;
    width: fit-content;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-280px * 3 - 10px * 2));
    }
}

.slide_gallery {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}