.news {
    margin-bottom: 100px;
    padding: 0 15px;
}

.btn {
    display: block;
    color: var(--white);
    font-size: 1.2rem;
    font-family: var(--vollkorn);
    background-color: var(--mainColor);
    width: 100%;
    margin-top: 50px;
    padding: 15px 0;
    text-align: center;
    transition: all .2s ease-in-out;

    &:hover {
        color: var(--mainColor);
        background-color: var(--white);
        border: 1px solid var(--mainColor);
    }
}