.news {
    padding: 0 15px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date_category {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: var(--vollkorn);
    letter-spacing: -0.02rem;
}

.text {
    line-height: 1.5rem;
    letter-spacing: -0.02rem;
    border-bottom: 1px solid var(--black);
    padding-bottom: 10px;
}


.btn {
    display: block;
    color: var(--white);
    font-size: 1.2rem;
    font-family: var(--vollkorn);
    background-color: var(--mainColor);
    width: 100%;
    margin-top: 50px;
    padding: 15px 0;
    text-align: center;
    transition: all .2s ease-in-out;

    &:hover {
        color: var(--mainColor);
        background-color: var(--white);
        border: 1px solid var(--mainColor);
    }
}